<a href="{{ "/sections/Pentest" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Pentest</h2></a>
<a href="{{ "/sections/Bug-Bounty" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Bug Bounty</h2></a>
<a href="{{ "/sections/Red-Team" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Red Team</h2></a>
<a href="{{ "/sections/CTF" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">CTF</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
